<main class="px-3 px-md-5 py-5">
  <section id="chooseFlag">
    <h3 class="pb-4 mb-2">{{'Choose your Country' | translate}}</h3>

    <form class="d-flex pb-5 px-2" role="search">
        <input class="form-control me-2" type="search" name="search" placeholder="{{'Search By Name' | translate}}" aria-label="Search" [(ngModel)]="searchKey" (keyup)="searchForCountry()">
        <!-- <button class="btn btn-outline-success" (click)="searchForCountry()">Search</button> -->
    </form>

    <div class="container-fluid">
      <div class="row g-4">
        <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let Flag of( Flags$ | async ) ?? [] | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
          <div>
            <app-flag-card [Flag]="Flag" (click)="chooseFlag(Flag)" [selected]="!!(Flag.name === selectedFlag.name)"></app-flag-card>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination Controls -->
    <div class="d-flex justify-content-center mt-5">
      <pagination-controls (pageChange)="currentPage = $event" class="mb-0"></pagination-controls>
    </div>
    <app-navigation-buttons [PreviousPageUrl]="'/'" [NextPageUrl]="'/Patient_Info'" [MoreCLasses]="' px-3'" [NextButtonDisabled]="NextButtondisabled"></app-navigation-buttons>
  </section>
</main>