<main class="main px-3 ps-md-5 pe-md-0 py-5">
<section class="py-5">
    <div class="container-fluid py-5">
        <div class="row h-100">
            <div class="col-md-8 col-lg-6 col-xxl-5 rounded bg-white px-4 py-5 align-self-center">
                <h4 class="mb-5">{{ 'Please Choose your Language' | translate }}</h4>
               <div class="pt-5">
                   <div class="py-5">
                        <label for="language" class="mb-2 input-font-size">{{'Language' | translate}}</label>
                        <select class="form-select form-select-lg" appSelect2 aria-label="Select Language" id="language" (valueChange)="onLanguageChoose($event)">
                             <option [selected]="!chooseenLanguage">{{ ChooseLanguage | translate }}</option>
                            <option *ngFor="let language of (languages$ | async)" [value]="language.code" [selected]="language.code == chooseenLanguage">
                                {{ language.name | translate }}
                            </option>
                        </select>
                   </div>
               </div>
               <div class="pt-5 mt-5">
                <app-button-with-icon btnAction="{{'Choose Country' | translate}}" [disabled]="disabled" (click)="navigateToChooseFlag()"></app-button-with-icon>
               </div>
             </div>
        </div>
    </div>
</section>
</main>
