button{
    padding:1rem 1.2rem;
    font-size:1rem;
    font-weight: 500;
    border:none;
}
button:disabled{
    background-color: #E7E7EB !important; 
    color:gray !important;
}
button:hover{
    background-color: var(--main-light-color);
   color:var(--main-darker-color) !important ;
}
button{
    background-color: var(--main-darker-color);
     color:var(--main-light-color) !important ;
}