@import "../node_modules/@fontsource/poppins/index.css";

:root{
    --main-darker-color:#789B59;
    --main-dark-color:#b2b161cb;
    --main-light-color:#F4FFC3;
    --gray-color:#D2D2DC;
    --gray-light-color:#d2d2dcc5;
    --text-color:#000;
}
/* html,body{
  height: 100%; 
} */
html{
    font-size:16px;
}

body {
  font-family: 'Poppins', sans-serif;
}
/* app-root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content{
    flex:1
} */

/* start button styles */
button{
    padding:.6rem 2.4rem;
    font-size:1rem;
    font-weight: 500;
    border:none;
}
button:disabled{
    background-color: #E7E7EB !important; 
    color:gray !important;
}
button:hover{
    background-color: var(--main-light-color);
   color:var(--main-darker-color) !important ;
}
button{
    background-color: var(--main-darker-color);
     color:var(--main-light-color) !important ;
}

/* end button styles */

/* start font styles */

.nav-font-size{
    font-size:.875rem;
}
.input-font-size{
    font-size: 1rem;
}
.question-font-size{
    font-size:1.125rem;
}
.card-font-size{
    font-size: 1.25rem;
}
.small-font-size{
    font-size:.8rem;
}

/* end font styles */

/* start background styles */

.bg-green-light{
    background-color: var(--main-light-color);
}
.bg-green-dark{
    background-color: var(--main-dark-color);
}
.bg-green-darker{
    background-color: var(--main-darker-color);
}

.bg-white{
    background-color: #fff;
}

.bg-gray{
    background-color: var(--gray-color);
}
.bg-light-gray{
    background-color: var(--gray-light-color);
}

.bg-svg-body{
    background-color: #F2F2F2;
}
/* end background styles */

/* start of border */

/* end of border */
/* start of text-color styles */
.text-green-darker{
    color: var(--main-darker-color);
}
.text-gray{
    color:rgb(83, 83, 83);
}
/* end of text-color styles */

/* start select2 styles */

.select2-container {
  width:100% !important;
  margin-left:auto;
  margin-right:auto;
}

.select2-container .select2-selection--single {
    padding-left:10px;
    padding-right:10px;
    height:40px;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-top:5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top:5px;
    right:10px;
}
.select2-results__option {
    padding-left:10px;
}
option{
    font-size:1rem;
}

/* end select2 styles */

/* start ngx pagination style styles */

.ngx-pagination .current {
    background-color: var(--main-darker-color) !important;
    color:var(--main-light-color) !important;
}
.ngx-pagination a:hover, .ngx-pagination button:hover {
    background-color: var(--main-light-color) !important;
    color:var(--main-darker-color) !important;
}

/* end ngx pagination style styles */

/* start input styles */
input {
  font-weight: 300 !important;
  font-size: 14px !important; 
}
input::placeholder {
  color:#D2D2DC !important;
  font-weight: 300;
  font-size: 14px;
}
input:focus,textarea:focus{
    border-color:var(--main-darker-color) !important;
    box-shadow: none !important;
}
.form-floating > .form-control:not(:placeholder-shown) {
     padding-top: 0.5rem !important; 
    }
.form-check-input:checked {
    background-color: var(--main-darker-color) !important;
    border-color: var(--main-darker-color) !important;
}
/* end of input style  */
main{
    background-color: #789b5974;
    background-image:url("/assets/images/doctor.jpg");
    background-blend-mode: overlay;
    background-size: cover;
    background-position: right top;
}
/* start localization Style */

html[dir='ltr'] .btnArrow{
    transform: rotate(0deg);}

html[dir='rtl'] .btnArrow{
    transform: rotate(180deg);}

html[dir='ltr'] .backBtnArrow{
    transform: rotate(0deg);}

html[dir='rtl'] .backBtnArrow{
    transform: rotate(180deg);}

 html[dir='rtl'] #painScaleChart{
    transform: rotateZ(180deg) rotateX(180deg);}

html[dir='ltr'] #PainScaleslevelValues{
    transform:scale(.93);
}
html[dir='rtl'] h3{
    font-size: 3rem;
}